/* <button onclick="topFunction()" id="myBtn" title="Go to top">Lên Đầu Trang</button> */

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 43px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #3e9eff;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    /* ============================ */
    display: block;
    position: fixed;
    bottom: 4px;
    right: 20px;
    z-index: 2 display: block;
    /* position: relative; */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    margin-bottom: 5px
}

#myBtn:hover {
    background-color: #555;
}


/* #button-to-top */

#button-to-top {
    border-radius: 3px;
    color: #fff!important;
    line-height: 20px;
    transition: all .5s ease-in-out;
    background: linear-gradient( 180deg, #90a4ae, #78909c);
    width: 40px;
    /* Chiều rộng button */
    height: 40px;
    /* Chiều cao button */
    position: fixed;
    /* Cố định vị trí */
    right: 10px;
    /* Button cách mép màn hình bên phải */
    bottom: 40px;
    /* Button cách mép màn hình bên dưới */
    z-index: 1000001;
    cursor: pointer;
}

#button-to-top::after {
    content: "\f077";
    /* Biểu tượng mũi tên đi lên */
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 40px;
    margin-left: 7px;
    color: #fff;
}

#button-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

#button-to-top:active {
    background-color: #555;
}

#button-to-top.show {
    opacity: 1;
    visibility: visible;
}

.main-content {
    width: 77%;
    margin: 50px auto;
    font-size: 15px;
    color: #333;
    line-height: 1.9;
}

@media (min-width: 500px) {
    .main-content {
        width: 43%;
    }
    #button-to-top {
        margin: 30px;
    }
}