/* <style> */

body#layout #outer-wrapper,body#layout .row{width:auto;padding:0}
body#layout{width:1000px;position:relative;padding:95px 5px 0;margin:0 auto}
body#layout div.section{margin:0 5px 10px!important;padding:16px 16px 18px!important}
body#layout .box-nav{display:none}
body#layout .main-wrapper{float:right;width:60%}
body#layout .sidebar-wrapper, body#layout #header{float:left;width:39%}
body#layout #tab-product,body#layout #slider,body#layout #contact{clear:both}
body#layout #menu{width:52%;float:right}

/* </style> */